<a href="https://colab.research.google.com/github/doyinsolamiolaoye/hamoye_internship/blob/master/Hamoye_stage_one_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python for Machine Learning

The data provided in this [Github link](https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv) is the fuel quality data from the Federal Energy Regulatory Commission which is provided by the United States Energy Information Administration. The data consists of the following columns:

* 'Record_id' : record id
* 'Utility_id_ferc1': Utility id assigned by the FERC
* 'Report_year': year of report
* 'Plant_name_ferc1': the name of the plant
* 'Fuel_type_code_pudl': the type of fuel
* 'Fuel_unit': the unit of fuel
* 'Fuel_qty_burned': the quantity of fuel burned
* 'Fuel_mmbtu_per_unit': the measure of energy per unit
* 'fuel_cost_per_unit_burned': the fuel cost per unit burned
* 'Fuel_cost_per_unit_delivered': the cost of fuel delivered per unit
* 'fuel_cost_per_mmbtu': the cost of fuel per mmbtu

In [ ]:
import pandas as pd
c = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")

In [ ]:
c.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]